# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RocketJoust.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jkroe\Documents\GameDev\The Art of Whoopin Ass\RocketJoust\.idea\.idea.RocketJoust\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
